data/
references/
**/.ipynb_checkpoints/

# Ignore results files
results/
*.out
*.log
*.err
*.csv
Save_as_Pkl_files_02182025.ipynb
Save_as_Pkl_files_02182025.py
Save_as_Pkl_files_gene_02182025.py
Save_as_Pkl_files_gene_02182025_v2.py
Save_as_Pkl_files_gene_02182025_v3.py
Save_as_Pkl_files_gene_02182025_v4.py
Save_as_Pkl_files_gene_02182025_v5.py
Save_as_Pkl_files_gene_02182025_v6.py
Save_as_Pkl_files_gene_02182025_v7.py
Save_as_Pkl_files_iso_02182025.py
Save_as_Pkl_files_iso_02182025_v2.py
Save_as_Pkl_files_iso_02182025_v3.py
Save_as_Pkl_files_iso_02182025_v4.py
Save_as_Pkl_files_iso_02182025_v5.py
Save_as_Pkl_files_iso_02182025_v6.py
Save_as_Pkl_files_iso_02182025_v7.py
Save_Data_As_Pkl_02182025.slurm
/single_cell_nextflow_pipeline
/Raw_Data
/Before_Rerecovery
/jobs
SplitandSave_Pkl_files_gene_02192025.py
